# ==========================================
# 1. 过滤 React 前端垃圾文件
# ==========================================
**/ecom-frontend/node_modules/
**/ecom-frontend/build/
**/ecom-frontend/.pnpm-store/

# ==========================================
# 2. 过滤 Spring Boot 后端垃圾文件
# ==========================================
**/sb-ecom/target/
**/sb-ecom/.mvn/
**/sb-ecom/mvnw
**/sb-ecom/mvnw.cmd

# ==========================================
# 3. 过滤开发工具本地配置（IDEA / VS Code）
# ==========================================
.idea/
*.iml
.vscode/
.DS_Store
*.log